USE [moma.ptnhan.net]
GO
/****** Object:  User [moma.ptnhan.net]    Script Date: 11/2/2023 9:48:03 PM ******/
CREATE USER [moma.ptnhan.net] FOR LOGIN [moma.ptnhan.net] WITH DEFAULT_SCHEMA=[moma.ptnhan.net]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [moma.ptnhan.net]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [moma.ptnhan.net]
GO
ALTER ROLE [db_datareader] ADD MEMBER [moma.ptnhan.net]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [moma.ptnhan.net]
GO
/****** Object:  Schema [moma.ptnhan.net]    Script Date: 11/2/2023 9:48:03 PM ******/
CREATE SCHEMA [moma.ptnhan.net]
GO
/****** Object:  Table [moma.ptnhan.net].[__EFMigrationsHistory]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[AppContracts]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[AppContracts](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ContractNo] [nvarchar](100) NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[Name] [nvarchar](255) NULL,
	[CustomerName] [nvarchar](63) NULL,
	[CustomerPhone] [nvarchar](16) NULL,
	[RoomId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ExpiredDate] [datetime2](7) NULL,
	[DepositedAmount] [decimal](18, 2) NOT NULL,
	[Type] [int] NOT NULL,
	[ContractDuration] [int] NULL,
	[Status] [int] NOT NULL,
	[AdvanceAmount] [decimal](18, 2) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_AppContracts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[BoardingHouses]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[BoardingHouses](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](250) NULL,
	[Description] [nvarchar](150) NULL,
	[Months] [int] NOT NULL,
	[StartDatePayment] [int] NULL,
	[EndDatePayment] [int] NULL,
	[CityId] [uniqueidentifier] NULL,
	[IsNotLimitTime] [bit] NULL,
	[IsSelfPayment] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_BoardingHouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Cities]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Cities](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[ContractTerm]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[ContractTerm](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[AppContractId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ContractTerm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Customers]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Phone] [nvarchar](16) NULL,
	[BirthDay] [datetime2](7) NOT NULL,
	[IdentificationCitizen] [nvarchar](13) NULL,
	[IdFactory] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](50) NULL,
	[Career] [int] NULL,
	[Gender] [int] NULL,
	[AvatarPath] [nvarchar](150) NULL,
	[FontIdentityPath] [nvarchar](150) NULL,
	[BackIdentityPath] [nvarchar](150) NULL,
	[RoomId] [uniqueidentifier] NULL,
	[Password] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[FitmentInRooms]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[FitmentInRooms](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[RoomId] [uniqueidentifier] NOT NULL,
	[FitmentId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_FitmentInRooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Fitments]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Fitments](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[IsCanUse] [bit] NOT NULL,
	[RecoupPrice] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Fitments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Invoices]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Invoices](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[StageRoomId] [uniqueidentifier] NOT NULL,
	[ProvideId] [uniqueidentifier] NULL,
	[LastValue] [decimal](18, 2) NULL,
	[NewValue] [decimal](18, 2) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Name] [nvarchar](max) NULL,
	[ProvideType] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Provides]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Provides](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[DefaultPrice] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Provides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[RoomDepositeds]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[RoomDepositeds](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[RoomId] [uniqueidentifier] NOT NULL,
	[DateStart] [datetime2](7) NOT NULL,
	[DateEnd] [datetime2](7) NOT NULL,
	[DespositedValue] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](150) NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[IdentityNumber] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_RoomDepositeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Rooms]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Rooms](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[BoardingHouseId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Floor] [int] NULL,
	[MaxHuman] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Status] [int] NOT NULL,
	[Location] [nvarchar](63) NULL,
	[IsSelfContainer] [bit] NULL,
	[Count] [int] NULL,
	[Area] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[ServiceInBoardingHouses]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[ServiceInBoardingHouses](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[BoardingHouseId] [uniqueidentifier] NOT NULL,
	[ProvideId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ServiceInBoardingHouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[StagePayments]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[StagePayments](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[InvoiceNo] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[StageDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[RoomData] [int] NOT NULL,
	[TotalRooms] [int] NOT NULL,
	[RoomPaid] [int] NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_StagePayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[StageRooms]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[StageRooms](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[StagePaymentId] [uniqueidentifier] NOT NULL,
	[RoomId] [uniqueidentifier] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[IsSubtractToDeposited] [bit] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_StageRooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[SystemFiles]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[SystemFiles](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[MapId] [uniqueidentifier] NOT NULL,
	[FileType] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[Extension] [nvarchar](max) NULL,
	[Path] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_SystemFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Systems]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Systems](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[GroupKey] [nvarchar](max) NULL,
	[Group] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Systems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[UserInfos]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[UserInfos](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](16) NULL,
	[DayOfBirth] [datetime2](7) NULL,
	[City] [nvarchar](max) NULL,
	[IdentityNumber] [nvarchar](16) NULL,
	[IdentityProvider] [nvarchar](200) NULL,
	[IdentityDate] [nvarchar](150) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[AccountBankNumber] [nvarchar](50) NULL,
	[BankName] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_UserInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Users]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Password] [nvarchar](255) NULL,
	[role] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Gender] [int] NOT NULL,
	[Mail] [nvarchar](255) NULL,
	[Phone] [nvarchar](10) NULL,
	[CityId] [uniqueidentifier] NULL,
	[Address] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [moma.ptnhan.net].[Vehicles]    Script Date: 11/2/2023 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moma.ptnhan.net].[Vehicles](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Type] [int] NOT NULL,
	[LicensePlate] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [moma.ptnhan.net].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221127072047___1.0.0', N'3.1.27')
INSERT [moma.ptnhan.net].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221202161707_1.0.1', N'3.1.27')
INSERT [moma.ptnhan.net].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221211052301__1.0.2', N'3.1.27')
GO
INSERT [moma.ptnhan.net].[BoardingHouses] ([Id], [CreatedAt], [UpdatedAt], [Name], [Address], [Description], [Months], [StartDatePayment], [EndDatePayment], [CityId], [IsNotLimitTime], [IsSelfPayment], [IsDeleted]) VALUES (N'43c4da34-e37f-4713-879e-48920ac4b2ae', CAST(N'2023-10-09T20:54:45.5334207' AS DateTime2), CAST(N'2023-10-09T20:54:45.5334223' AS DateTime2), N'Khu trọ 54 Phùng Khoang', N'Số nhà 52 ngõ 54 Phùng Khoang, Bắc Từ Liêm, Hà Nội', N'', 1, 1, 5, NULL, NULL, NULL, 0)
INSERT [moma.ptnhan.net].[BoardingHouses] ([Id], [CreatedAt], [UpdatedAt], [Name], [Address], [Description], [Months], [StartDatePayment], [EndDatePayment], [CityId], [IsNotLimitTime], [IsSelfPayment], [IsDeleted]) VALUES (N'd1186ba4-320e-461c-aa0c-b89576b18098', CAST(N'2023-10-06T15:54:11.6623865' AS DateTime2), CAST(N'2023-10-06T15:54:11.6623896' AS DateTime2), N'Khu 521 Cổ Nhuế', N'Số nhà 521/33 Cổ Nhuế 2, Từ Liêm, Hà Nội', N'Nhà tầng khép kín mới xây.', 3, 1, 5, NULL, NULL, NULL, 0)
INSERT [moma.ptnhan.net].[BoardingHouses] ([Id], [CreatedAt], [UpdatedAt], [Name], [Address], [Description], [Months], [StartDatePayment], [EndDatePayment], [CityId], [IsNotLimitTime], [IsSelfPayment], [IsDeleted]) VALUES (N'7c6ec1bc-8093-49f5-b5f1-bf1d33288385', CAST(N'2023-10-09T20:58:33.6456558' AS DateTime2), CAST(N'2023-10-09T20:58:33.6456599' AS DateTime2), N'Khu trọ 63 Văn Hội', N'Số nhà 63/31 Văn Hội, Đức Thắng, Từ Liêm, Hà Nội', N'', 3, 1, 5, NULL, NULL, NULL, 0)
GO
INSERT [moma.ptnhan.net].[FitmentInRooms] ([Id], [CreatedAt], [UpdatedAt], [RoomId], [FitmentId], [Quantity], [IsDeleted]) VALUES (N'cd351479-5da2-4a09-b3b6-001b02b5d1fd', CAST(N'2023-10-10T20:47:42.8949072' AS DateTime2), CAST(N'2023-10-10T20:47:42.8949073' AS DateTime2), N'ab56b138-4648-45b9-980a-62c34c361622', N'cf52484d-d71a-4d7d-a48f-5fd99aae977e', 1, 0)
INSERT [moma.ptnhan.net].[FitmentInRooms] ([Id], [CreatedAt], [UpdatedAt], [RoomId], [FitmentId], [Quantity], [IsDeleted]) VALUES (N'b7a57d24-0f09-4b6d-bc53-02ca284c2f76', CAST(N'2023-10-10T20:48:53.6916350' AS DateTime2), CAST(N'2023-10-10T20:48:53.6916351' AS DateTime2), N'48482242-d98d-4b03-b6be-afe200d930f3', N'f728cff8-b79b-4949-803b-2c320c731adf', 1, 0)
INSERT [moma.ptnhan.net].[FitmentInRooms] ([Id], [CreatedAt], [UpdatedAt], [RoomId], [FitmentId], [Quantity], [IsDeleted]) VALUES (N'ef485d46-b5ce-49c5-8be6-052bf694a0f7', CAST(N'2023-10-10T20:48:30.8589006' AS DateTime2), CAST(N'2023-10-10T20:48:30.8589007' AS DateTime2), N'18994082-3b34-4a64-a4d5-5390f38da694', N'f728cff8-b79b-4949-803b-2c320c731adf', 1, 0)
GO
INSERT [moma.ptnhan.net].[Fitments] ([Id], [CreatedAt], [UpdatedAt], [Name], [IsCanUse], [RecoupPrice], [Description], [IsDeleted]) VALUES (N'28912826-3ac6-4b54-9bce-2872d8851c39', CAST(N'2023-10-02T17:26:05.1533333' AS DateTime2), CAST(N'2023-10-02T17:26:05.1533333' AS DateTime2), N'Bàn chữ Z', 1, CAST(500000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [moma.ptnhan.net].[Fitments] ([Id], [CreatedAt], [UpdatedAt], [Name], [IsCanUse], [RecoupPrice], [Description], [IsDeleted]) VALUES (N'f728cff8-b79b-4949-803b-2c320c731adf', CAST(N'2023-10-02T17:26:05.0600000' AS DateTime2), CAST(N'2023-10-02T17:26:05.0600000' AS DateTime2), N'Quạt trần', 1, CAST(3000000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [moma.ptnhan.net].[Fitments] ([Id], [CreatedAt], [UpdatedAt], [Name], [IsCanUse], [RecoupPrice], [Description], [IsDeleted]) VALUES (N'fec645f2-573d-426d-a6c5-4ee3ddb0e773', CAST(N'2023-10-02T17:26:05.0433333' AS DateTime2), CAST(N'2023-10-02T17:26:05.0433333' AS DateTime2), N'Bình nước nóng', 1, CAST(1500000.00 AS Decimal(18, 2)), NULL, 0)
GO
INSERT [moma.ptnhan.net].[Invoices] ([Id], [CreatedAt], [UpdatedAt], [StageRoomId], [ProvideId], [LastValue], [NewValue], [Price], [Amount], [Name], [ProvideType], [IsDeleted]) VALUES (N'b30dca4f-68fd-4c38-b1a2-08dbc9a076ee', CAST(N'2023-10-10T21:51:58.9313511' AS DateTime2), CAST(N'2023-10-10T21:51:58.9313512' AS DateTime2), N'20a03a4f-6b5e-450b-9805-efd00c83d7e4', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), N'Bạn đến ngủ 2 ngày', 0, 0)
INSERT [moma.ptnhan.net].[Invoices] ([Id], [CreatedAt], [UpdatedAt], [StageRoomId], [ProvideId], [LastValue], [NewValue], [Price], [Amount], [Name], [ProvideType], [IsDeleted]) VALUES (N'aa32903f-3500-471d-8bb7-5d79f2815673', CAST(N'2023-10-10T21:55:27.3765254' AS DateTime2), CAST(N'2023-10-10T21:55:27.3765370' AS DateTime2), N'b0f78b98-64cd-427e-bdea-415730188cf0', N'169adc61-3b97-4080-2423-08dbc648d512', CAST(0.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), N'Tiền nước', 2, 0)
INSERT [moma.ptnhan.net].[Invoices] ([Id], [CreatedAt], [UpdatedAt], [StageRoomId], [ProvideId], [LastValue], [NewValue], [Price], [Amount], [Name], [ProvideType], [IsDeleted]) VALUES (N'8aa81260-b02d-4444-9c5d-767aa476f274', CAST(N'2023-10-10T21:55:27.3765501' AS DateTime2), CAST(N'2023-10-10T21:55:27.3765502' AS DateTime2), N'b0f78b98-64cd-427e-bdea-415730188cf0', N'82e1700e-998b-4248-2422-08dbc648d512', CAST(0.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)), N'Tiền điện', 1, 0)
GO
INSERT [moma.ptnhan.net].[Provides] ([Id], [CreatedAt], [UpdatedAt], [Name], [Type], [DefaultPrice], [IsDeleted]) VALUES (N'b0bb2ec0-f8fd-404e-241f-08dbc648d512', CAST(N'2023-10-06T15:47:11.7510047' AS DateTime2), CAST(N'2023-10-06T15:47:11.7510166' AS DateTime2), N'Bảo vệ', 2, CAST(10000.00 AS Decimal(18, 2)), 0)
INSERT [moma.ptnhan.net].[Provides] ([Id], [CreatedAt], [UpdatedAt], [Name], [Type], [DefaultPrice], [IsDeleted]) VALUES (N'cb5dbc3e-de2c-4525-2420-08dbc648d512', CAST(N'2023-10-06T15:47:25.5826106' AS DateTime2), CAST(N'2023-10-06T15:47:25.5826171' AS DateTime2), N'Thang máy', 2, CAST(50000.00 AS Decimal(18, 2)), 0)
INSERT [moma.ptnhan.net].[Provides] ([Id], [CreatedAt], [UpdatedAt], [Name], [Type], [DefaultPrice], [IsDeleted]) VALUES (N'ab003853-3043-45b1-2421-08dbc648d512', CAST(N'2023-10-06T15:48:55.0792334' AS DateTime2), CAST(N'2023-10-06T15:48:55.0792418' AS DateTime2), N'Đèn cầu thang', 2, CAST(10000.00 AS Decimal(18, 2)), 0)
GO
INSERT [moma.ptnhan.net].[Rooms] ([Id], [CreatedAt], [UpdatedAt], [BoardingHouseId], [Name], [Price], [Floor], [MaxHuman], [Description], [Status], [Location], [IsSelfContainer], [Count], [Area], [IsDeleted]) VALUES (N'18994082-3b34-4a64-a4d5-5390f38da694', CAST(N'2023-10-10T20:48:30.7688626' AS DateTime2), CAST(N'2023-10-10T20:48:30.7688683' AS DateTime2), N'43c4da34-e37f-4713-879e-48920ac4b2ae', N'Phòng T103', CAST(2200000.00 AS Decimal(18, 2)), 1, 5, NULL, 2, N'null', 1, NULL, 0, 0)
INSERT [moma.ptnhan.net].[Rooms] ([Id], [CreatedAt], [UpdatedAt], [BoardingHouseId], [Name], [Price], [Floor], [MaxHuman], [Description], [Status], [Location], [IsSelfContainer], [Count], [Area], [IsDeleted]) VALUES (N'ab56b138-4648-45b9-980a-62c34c361622', CAST(N'2023-10-10T20:47:42.5862222' AS DateTime2), CAST(N'2023-10-10T20:47:42.5862317' AS DateTime2), N'43c4da34-e37f-4713-879e-48920ac4b2ae', N'Phòng T101', CAST(2300000.00 AS Decimal(18, 2)), 1, 3, NULL, 0, N'null', 1, NULL, 0, 0)
INSERT [moma.ptnhan.net].[Rooms] ([Id], [CreatedAt], [UpdatedAt], [BoardingHouseId], [Name], [Price], [Floor], [MaxHuman], [Description], [Status], [Location], [IsSelfContainer], [Count], [Area], [IsDeleted]) VALUES (N'e90237a6-3307-4e3f-be04-836f8bb601ac', CAST(N'2023-10-10T20:48:19.7966434' AS DateTime2), CAST(N'2023-10-10T20:48:19.7966530' AS DateTime2), N'43c4da34-e37f-4713-879e-48920ac4b2ae', N'Phòng T102', CAST(2300000.00 AS Decimal(18, 2)), 1, 5, NULL, 2, N'null', 1, NULL, 0, 0)
GO
INSERT [moma.ptnhan.net].[ServiceInBoardingHouses] ([Id], [CreatedAt], [UpdatedAt], [BoardingHouseId], [ProvideId], [Price], [IsDeleted]) VALUES (N'd4862229-2786-430b-b9e7-212c9b1a8c6c', CAST(N'2023-10-09T20:54:45.8716053' AS DateTime2), CAST(N'2023-10-09T20:54:45.8716066' AS DateTime2), N'43c4da34-e37f-4713-879e-48920ac4b2ae', N'82e1700e-998b-4248-2422-08dbc648d512', CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [moma.ptnhan.net].[ServiceInBoardingHouses] ([Id], [CreatedAt], [UpdatedAt], [BoardingHouseId], [ProvideId], [Price], [IsDeleted]) VALUES (N'a93408e2-ceb3-4ae5-9537-72ecf63f354a', CAST(N'2023-10-09T20:58:34.1504193' AS DateTime2), CAST(N'2023-10-09T20:58:34.1504195' AS DateTime2), N'7c6ec1bc-8093-49f5-b5f1-bf1d33288385', N'05839c8d-56f4-41c7-2424-08dbc648d512', CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [moma.ptnhan.net].[ServiceInBoardingHouses] ([Id], [CreatedAt], [UpdatedAt], [BoardingHouseId], [ProvideId], [Price], [IsDeleted]) VALUES (N'5e566551-b3ae-4a9d-9c2a-bd529a344978', CAST(N'2023-10-06T15:54:11.8388598' AS DateTime2), CAST(N'2023-10-06T15:54:11.8388600' AS DateTime2), N'd1186ba4-320e-461c-aa0c-b89576b18098', N'ab003853-3043-45b1-2421-08dbc648d512', CAST(0.00 AS Decimal(18, 2)), 0)
GO
INSERT [moma.ptnhan.net].[StageRooms] ([Id], [CreatedAt], [UpdatedAt], [StagePaymentId], [RoomId], [PaymentStatus], [TotalAmount], [IsCompleted], [IsSubtractToDeposited], [IsDeleted]) VALUES (N'b0f78b98-64cd-427e-bdea-415730188cf0', CAST(N'2023-10-10T21:55:27.6658054' AS DateTime2), CAST(N'2023-10-10T21:55:27.6658082' AS DateTime2), N'1c16a8b2-d62b-48c3-98ad-a441e002a3e3', N'18994082-3b34-4a64-a4d5-5390f38da694', 2, CAST(2740000.00 AS Decimal(18, 2)), 1, 0, 0)
INSERT [moma.ptnhan.net].[StageRooms] ([Id], [CreatedAt], [UpdatedAt], [StagePaymentId], [RoomId], [PaymentStatus], [TotalAmount], [IsCompleted], [IsSubtractToDeposited], [IsDeleted]) VALUES (N'20a03a4f-6b5e-450b-9805-efd00c83d7e4', CAST(N'2023-10-10T21:52:06.9132778' AS DateTime2), CAST(N'2023-10-10T21:52:06.9132882' AS DateTime2), N'1c16a8b2-d62b-48c3-98ad-a441e002a3e3', N'e90237a6-3307-4e3f-be04-836f8bb601ac', 2, CAST(100000.00 AS Decimal(18, 2)), 1, 1, 0)
GO
INSERT [moma.ptnhan.net].[Users] ([Id], [CreatedAt], [UpdatedAt], [Password], [role], [Name], [Gender], [Mail], [Phone], [CityId], [Address], [IsDeleted]) VALUES (N'634e65c2-ea3e-4647-8024-584fc979cbd6', CAST(N'2023-10-10T20:25:29.2639976' AS DateTime2), CAST(N'2023-10-10T20:25:29.2644854' AS DateTime2), N'T24UgcZyY5d5T538cm2QRc80DLB/e79sk97fjiJDzJw=', 0, N'Phạm Trọng Nhân', 1, N'trongnhan1110i@gmail.com', N'0775331777', NULL, N'Cổ Nhuế, Từ Liêm', 0)
GO
INSERT [moma.ptnhan.net].[Vehicles] ([Id], [CreatedAt], [UpdatedAt], [Type], [LicensePlate], [Color], [CustomerId], [IsDeleted]) VALUES (N'8c3deb53-d3a6-4550-b8e8-d5a763c5e803', CAST(N'2023-10-10T21:01:21.4910544' AS DateTime2), CAST(N'2023-10-10T21:01:21.4910577' AS DateTime2), 1, N'15H1 - 40344', N'Đỏ', N'ccfbaef3-12a0-444e-8be9-0b27730cbd30', 0)
GO
ALTER TABLE [moma.ptnhan.net].[Rooms] ADD  DEFAULT ((0)) FOR [Area]
GO
ALTER TABLE [moma.ptnhan.net].[StageRooms] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSubtractToDeposited]
GO
ALTER TABLE [moma.ptnhan.net].[AppContracts]  WITH CHECK ADD  CONSTRAINT [FK_AppContracts_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [moma.ptnhan.net].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[AppContracts] CHECK CONSTRAINT [FK_AppContracts_Rooms_RoomId]
GO
ALTER TABLE [moma.ptnhan.net].[BoardingHouses]  WITH CHECK ADD  CONSTRAINT [FK_BoardingHouses_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [moma.ptnhan.net].[Cities] ([Id])
GO
ALTER TABLE [moma.ptnhan.net].[BoardingHouses] CHECK CONSTRAINT [FK_BoardingHouses_Cities_CityId]
GO
ALTER TABLE [moma.ptnhan.net].[ContractTerm]  WITH CHECK ADD  CONSTRAINT [FK_ContractTerm_AppContracts_AppContractId] FOREIGN KEY([AppContractId])
REFERENCES [moma.ptnhan.net].[AppContracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[ContractTerm] CHECK CONSTRAINT [FK_ContractTerm_AppContracts_AppContractId]
GO
ALTER TABLE [moma.ptnhan.net].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [moma.ptnhan.net].[Rooms] ([Id])
GO
ALTER TABLE [moma.ptnhan.net].[Customers] CHECK CONSTRAINT [FK_Customers_Rooms_RoomId]
GO
ALTER TABLE [moma.ptnhan.net].[FitmentInRooms]  WITH CHECK ADD  CONSTRAINT [FK_FitmentInRooms_Fitments_FitmentId] FOREIGN KEY([FitmentId])
REFERENCES [moma.ptnhan.net].[Fitments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[FitmentInRooms] CHECK CONSTRAINT [FK_FitmentInRooms_Fitments_FitmentId]
GO
ALTER TABLE [moma.ptnhan.net].[FitmentInRooms]  WITH CHECK ADD  CONSTRAINT [FK_FitmentInRooms_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [moma.ptnhan.net].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[FitmentInRooms] CHECK CONSTRAINT [FK_FitmentInRooms_Rooms_RoomId]
GO
ALTER TABLE [moma.ptnhan.net].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Provides_ProvideId] FOREIGN KEY([ProvideId])
REFERENCES [moma.ptnhan.net].[Provides] ([Id])
GO
ALTER TABLE [moma.ptnhan.net].[Invoices] CHECK CONSTRAINT [FK_Invoices_Provides_ProvideId]
GO
ALTER TABLE [moma.ptnhan.net].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_StageRooms_StageRoomId] FOREIGN KEY([StageRoomId])
REFERENCES [moma.ptnhan.net].[StageRooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[Invoices] CHECK CONSTRAINT [FK_Invoices_StageRooms_StageRoomId]
GO
ALTER TABLE [moma.ptnhan.net].[RoomDepositeds]  WITH CHECK ADD  CONSTRAINT [FK_RoomDepositeds_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [moma.ptnhan.net].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[RoomDepositeds] CHECK CONSTRAINT [FK_RoomDepositeds_Rooms_RoomId]
GO
ALTER TABLE [moma.ptnhan.net].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_BoardingHouses_BoardingHouseId] FOREIGN KEY([BoardingHouseId])
REFERENCES [moma.ptnhan.net].[BoardingHouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[Rooms] CHECK CONSTRAINT [FK_Rooms_BoardingHouses_BoardingHouseId]
GO
ALTER TABLE [moma.ptnhan.net].[ServiceInBoardingHouses]  WITH CHECK ADD  CONSTRAINT [FK_ServiceInBoardingHouses_BoardingHouses_BoardingHouseId] FOREIGN KEY([BoardingHouseId])
REFERENCES [moma.ptnhan.net].[BoardingHouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[ServiceInBoardingHouses] CHECK CONSTRAINT [FK_ServiceInBoardingHouses_BoardingHouses_BoardingHouseId]
GO
ALTER TABLE [moma.ptnhan.net].[ServiceInBoardingHouses]  WITH CHECK ADD  CONSTRAINT [FK_ServiceInBoardingHouses_Provides_ProvideId] FOREIGN KEY([ProvideId])
REFERENCES [moma.ptnhan.net].[Provides] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[ServiceInBoardingHouses] CHECK CONSTRAINT [FK_ServiceInBoardingHouses_Provides_ProvideId]
GO
ALTER TABLE [moma.ptnhan.net].[StageRooms]  WITH CHECK ADD  CONSTRAINT [FK_StageRooms_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [moma.ptnhan.net].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[StageRooms] CHECK CONSTRAINT [FK_StageRooms_Rooms_RoomId]
GO
ALTER TABLE [moma.ptnhan.net].[StageRooms]  WITH CHECK ADD  CONSTRAINT [FK_StageRooms_StagePayments_StagePaymentId] FOREIGN KEY([StagePaymentId])
REFERENCES [moma.ptnhan.net].[StagePayments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [moma.ptnhan.net].[StageRooms] CHECK CONSTRAINT [FK_StageRooms_StagePayments_StagePaymentId]
GO
ALTER TABLE [moma.ptnhan.net].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [moma.ptnhan.net].[Cities] ([Id])
GO
ALTER TABLE [moma.ptnhan.net].[Users] CHECK CONSTRAINT [FK_Users_Cities_CityId]
GO
ALTER TABLE [moma.ptnhan.net].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [moma.ptnhan.net].[Customers] ([Id])
GO
ALTER TABLE [moma.ptnhan.net].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Customers_CustomerId]
GO
