<div class="page-header ng-star-inserted">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <div class="row">
                        <div class="col-sm-6">

                            <h5 class="m-b-10 ng-star-inserted">{{header}} phòng trọ</h5>
                        </div>
                    </div>

                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a ng-reflect-router-link="/dashboard" routerLink="/dashboard"
                            class="ng-star-inserted"><i class="feather icon-home"></i></a>
                    <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/boarding-house"
                            routerLink="/boarding-house">Khu trọ</a>
                    </li>
                    <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/boarding-house"
                            routerLink="/room">Phòng trọ</a>
                    </li>
                    <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/boarding-house"
                            routerLink="/add-room">{{header}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Thông tin phòng trọ" [options]="false">
            <div action="javascript:">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name">Khu trọ <span class="text-danger">*</span></label>
                        <select [(ngModel)]="room.boardingHouseId" class="form-control">
                            <option *ngFor="let boarding of boardings" [ngValue]="boarding.id">{{ boarding.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="name">Tên phòng <span class="text-danger">*</span></label>
                        <input [(ngModel)]="room.name" type="text" class="form-control" id="name"
                            placeholder="Số tầng - số thứ tự phòng">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name">Trạng thái</label>
                        <select [(ngModel)]="room.status" class="form-control">
                            <option [ngValue]="0">Phòng trống</option>
                            <option [ngValue]="1">Đã có cọc</option>
                            <option [ngValue]="2">Đã cho thuê</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="address">Giá tiền <span class="text-danger">*</span></label>
                        <input [(ngModel)]="room.price" [options]="{ precision: 0 }" formatCurrency class="form-control" id="address"
                            placeholder="Giá tiền">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="address">Vị trí tầng</label>
                        <input [(ngModel)]="room.floor" type="number" class="form-control" id="address"
                            placeholder="Vị trí tầng">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="address">Số người ở tối đa</label>
                        <input [(ngModel)]="room.maxHuman" type="number" class="form-control" id="address"
                            placeholder="Số người ở tối đa">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="descripion">Mô tả</label>
                        <textarea [(ngModel)]="room.description" rows="4" type="text" class="form-control"
                            id="descripion" placeholder="Mô tả"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="form-label" for="customFile">Hình ảnh phòng trọ</label>
                        <br />
                        <button type="button" class="btn btn-primary" (click)="file.click()"><i-feather name="image"></i-feather> Chọn hình ảnh phòng trọ (chọn nhiều)</button>
                        <br />
                        <span style="color:red;" *ngIf="roomImages.length > 0">(Đã chọn {{ roomImages.length }} hình ảnh)</span>
                        <input #file type="file" class="form-control hide" id="customFile" multiple
                            (change)="selectedFiles($event.target.files)" />
                    </div>

                </div>
                <h6>Thiết bị hiện có</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-4" *ngFor="let fitment of fitments">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="a-{{fitment.id}}"
                                (click)="setSelectFitment(fitment.id)">
                            <label class="custom-control-label" for="a-{{fitment.id}}">{{ fitment.name }}</label>
                        </div>
                    </div>
                </div>
                <br>
                <h6>Thông tin khác</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="selfContainer"
                                [(ngModel)]="isSelfContainer">
                            <label class="custom-control-label" for="selfContainer">Hệ thống vệ sinh khép kín</label>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="!isSelfContainer">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <br>
                                <input type="number" class="form-control" id="address"
                                    placeholder="Số phòng sử dụng chung nhà vệ sinh">
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
                <hr>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="continue" [(ngModel)]="isContinue">
                    <label class="custom-control-label" for="continue">Tiếp tục thêm các phòng khác</label>
                </div>
                <button type="button" class="btn btn-primary float-right" (click)="SaveRoom()">{{action}}</button>
                <button type="button" class="btn btn-default float-right" (click)="goBack()">Hủy bỏ</button>
            </div>
        </app-card>
    </div>
</div>