<div class="page-header ng-star-inserted">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <div class="row">
                        <div class="col-sm-6">

                            <h5 class="m-b-10 ng-star-inserted">Phòng trọ</h5>
                        </div>
                        <div class="col-sm-6 ">

                            <button type="button" class="btn btn-success float-right l-4"><i
                                    class="icon feather icon-printer"></i> Excel</button>
                            <a class="btn btn-primary float-right l-4" routerLink="/add-room"><i
                                    class="icon feather icon-plus"></i> Thêm mới</a>
                            <button type="button" class="btn btn-secondary float-right" (click)="showSearch()">
                                <i class="icon feather icon-search">
                                </i>
                                Tìm kiếm phòng
                            </button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a ng-reflect-router-link="/dashboard" routerLink="/dashboard"
                                    class="ng-star-inserted"><i class="feather icon-home"></i></a>
                            <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/boarding-house"
                                    routerLink="/boarding-house">Khu trọ</a>
                            </li>
                            <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/boarding-house"
                                    routerLink="/boarding-house">Phòng trọ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <select class="form-control">
                                    <option>Tất cả</option>
                                    <option *ngFor="let boarding of boardings" [ngValue]="boarding.id">{{ boarding.name
                                        }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="page-header ng-star-inserted" *ngIf="isSearch">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Từ khóa</label>
                            <input type="text" class="form-control" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Giá từ</label>
                            <input type="number" class="form-control" placeholder="Giá bắt đầu">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Giá đến</label>
                            <input type="number" class="form-control" placeholder="Giá kết thúc">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Công trình phụ</label>
                            <select class="form-control">
                                <option>Tất cả</option>
                                <option>Khép kín</option>
                                <option>Vệ sinh chung</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Trạng thái</label>
                            <select class="form-control">
                                <option>Tất cả</option>
                                <option>Phòng trống</option>
                                <option>Đã có cọc</option>
                                <option>Đã cho thuê</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <button class="btn btn-default float-right"><i class="icon feather icon-x"></i>
                            Đóng</button>
                        <button class="btn btn-primary float-right l-4"><i class="icon feather icon-filter"></i> Tìm
                            kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <app-card cardTitle="Danh sách khu trọ quản lý" blockClass="table-border-style">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center"></th>
                        <th>Tầng</th>
                        <th>Tên phòng</th>
                        <th>Số người tối đa</th>
                        <th>Đơn giá</th>
                        <th>Trạng thái</th>
                        <th>Mô tả</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms; index as i">
                        <td>{{ i + 1}}</td>
                        <td>
                            <a href="javascript:;" data-toggle="tooltip" data-placement="top"
                                title="Chỉnh sửa thông tin"><i class="icon feather icon-edit text-primary f-20"></i></a>
                            <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Đặt cọc"
                                class="l-2" *ngIf="(room.status == 0)"><i
                                    class="icon feather icon-download text-success f-20"></i></a>
                            <a href="javascript:;" data-toggle="tooltip" data-placement="top"
                                title="Thông tin người thuê" class="l-2" *ngIf="(room.status == 2)"><i
                                    class="icon feather icon-user-check text-danger f-20"></i></a>
                            <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Hủy đặt cọc"
                                class="l-2" *ngIf="(room.status == 1)"><i
                                    class="icon feather icon-x-square text-warning f-20"></i></a>
                        </td>
                        <td>{{ room.floor }}</td>
                        <td>{{ room.name }}</td>
                        <td>{{ room.maxHuman }}</td>
                        <td>{{ formatCurrency(room.price) }}</td>
                        <td><span class="{{formatStatusDisplay(room.status)}}">{{ formatStatus(room.status) }}</span>
                        </td>
                        <td>{{ room.description }}</td>
                        <td style="width: 5%;" class="text-center">
                            <a href="javascript:;"><i class="icon feather icon-trash text-danger f-20"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item" *ngFor="let page of pageNumber"><a class="page-link" href="#">{{ page }}</a></li>
                </ul>
            </nav>
        </div>
    </app-card>

</div>