
<div class="page-header ng-star-inserted">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <div class="row">
            <div class="col-sm-6">

              <h5 class="m-b-10 ng-star-inserted">Dịch vụ</h5>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-9">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a ng-reflect-router-link="/dashboard" href="/dashboard"
                  class="ng-star-inserted"><i class="feather icon-home"></i></a>
    
              <li class="breadcrumb-item ng-star-inserted"><a href="javascript:">Danh mục</a></li>
    
              <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/service" href="/service">Thiết bị</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-success float-right l-1" style="margin-left: 4px;" data-toggle="modal"
            ><i class="icon feather icon-printer"></i> Excel</button>
          <button type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="createService.show()"><i
            class="icon feather icon-plus-circle"></i> Thêm mới</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12">
  <app-card cardTitle="Thiết bị" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>Tên thiết bị</th>
            <th>Trạng thái</th>
            <th>Giá mua</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fitment of fitments; index as i">
            <td>{{ i + 1 }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="dropdownMenu2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="icon feather icon-menu text-default f-20"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item" href="javascript:;" (click)="getFitmentUpdate(fitment);updateService.show()"><i class="icon feather icon-edit text-primary f-20"></i> Chỉnh
                    sửa</a>
                  <a href="javascript:;" class="dropdown-item"><i
                      class="icon feather icon-trash text-danger f-20"></i> Xóa</a>
                </div>
              </div>
            </td>
            <td>{{ fitment.name }}</td>
            <td><span class="badge badge-primary" *ngIf="fitment.isCanUse">Đang sử dụng</span><span
                class="badge badge-warning" *ngIf="!fitment.isCanUse">Tạm ngưng</span></td>
            <td>{{ fitment.recoupPrice | formatCurrency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>

<app-ui-modal #createService [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Thêm mới thiết bị</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="createService.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div>
      <div class="form-row">
          <div class="form-group col-md-12">
              <label for="inputEmail4">Tên thiết bị <span class="text-danger">*</span></label>
              <input [(ngModel)]="fitment.name" type="text" class="form-control" id="inputEmail4" placeholder="Tên dịch vụ" required>
          </div>
          <div class="form-group col-md-12">
            <label for="inputEmail4">Giá tiền mặc định</label>
              <input [(ngModel)]="fitment.recoupPrice" [options]="{ precision: 0 }" formatCurrency class="form-control" id="inputEmail4" placeholder="Tên dịch vụ">
          </div>
      </div>
      <button type="button" class="btn  btn-default float-right" (click)="createService.hide();">Đóng</button>

      <button type="button" class="btn  btn-primary float-right" (click)="createService.hide()">Thêm mới</button>
    </div>
  </div>
</app-ui-modal>

<app-ui-modal #updateService [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Cập nhật thiết bị</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="updateService.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div>
      <div class="form-row">
          <div class="form-group col-md-12">
              <label for="inputEmail4">Tên thiết bị <span class="text-danger">*</span></label>
              <input [(ngModel)]="fitment.name" type="text" class="form-control" id="inputEmail4" placeholder="Tên dịch vụ" required>
          </div>
          <div class="form-group col-md-12">
            <label for="inputEmail4">Giá tiền mặc định</label>
              <input [(ngModel)]="fitment.recoupPrice" [options]="{ precision: 0 }" formatCurrency class="form-control" id="inputEmail4" placeholder="Tên dịch vụ">
          </div>
      </div>
      <button type="button" class="btn  btn-default float-right" (click)="updateService.hide();">Đóng</button>

      <button type="button" class="btn  btn-primary float-right" (click)="updateService.hide()">Cập nhật</button>
    </div>
  </div>
</app-ui-modal>