<div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng đang quản lý</h6>
                <h2 class="text-right text-white"><i class="feather icon-grid float-left"></i><span>80</span>
                </h2>
                <p class="m-b-0">Số lượng phòng đang sở hữu</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng đã cho thuê</h6>
                <h2 class="text-right text-white"><i class="feather icon-package float-left"></i><span>50</span></h2>
                <p class="m-b-0">Số lượng người thuê<span class="float-right">172</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng đặt cọc</h6>
                <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span>20</span>
                </h2>
                <p class="m-b-0">Tổng tiền đặt cọc<span class="float-right">20.000.000</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-red order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng tạm dừng</h6>
                <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>10</span></h2>
                <p class="m-b-0">Số lượng phòng tạm dừng không cho thuê</p>
            </div>
        </div>
    </div>