<div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng đang quản lý</h6>
                <h2 class="text-right text-white"><i
                        class="feather icon-grid float-left"></i><span>{{summary.totalRooms}}</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng đã cho thuê</h6>
                <h2 class="text-right text-white"><i
                        class="feather icon-package float-left"></i><span>{{summary.totalRoomHired}}</span></h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng đã có đặt cọc</h6>
                <h2 class="text-right text-white"><i
                        class="feather icon-repeat float-left"></i><span>{{summary.totalRoomDeposited}}</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-red order-card">
            <div class="card-body">
                <h6 class="text-white">Phòng đang tạm dừng</h6>
                <h2 class="text-right text-white"><i
                        class="feather icon-award float-left"></i><span>{{summary.totalRoomPending}}</span></h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="row">
          <div class="col-md-9">
            <app-card cardTitle="Doanh thu các đợt thanh toán" [options]="false">
                <apx-chart
                  [chart]="chartOptions.chart!"
                  [dataLabels]="chartOptions.dataLabels!"
                  [series]="chartOptions.series!"
                  [xaxis]="chartOptions.xaxis!"
                  [fill]="chartOptions.fill!"
                  [yaxis]="chartOptions.yaxis!"
                ></apx-chart>
              </app-card>
          </div>
          <div class="col-md-3">
            <app-card [hidHeader]="true" cardClass="bg-primary text-white">
              <div class="row">
                <div class="col-auto">
                  <span>Số lượng phòng</span>
                </div>
                <div class="col text-end">
                  <h2 class="mb-0 text-white">{{summary.totalRooms}}</h2>
                </div>
              </div>
              <div id="customerChart">
                <apx-chart
                  [series]="chartOptions_2.series!"
                  [chart]="chartOptions_2.chart!"
                  [stroke]="chartOptions_2.stroke!"
                  [dataLabels]="chartOptions_2.dataLabels!"
                  [labels]="chartOptions_2.labels!"
                  [legend]="chartOptions_2.legend!"
                  [colors]="chartOptions_2.colors!"
                  [fill]="chartOptions_2.fill!"
                  [grid]="chartOptions_2.grid!"
                  [plotOptions]="chartOptions_2.plotOptions!"
                  [tooltip]="chartOptions_2.tooltip!"
                ></apx-chart>
              </div>
              <div class="row mt-3 text-center">
                <div class="col">
                  <h3 class="m-0 text-white">{{summary.totalRoomHired}}</h3>
                  <span class="ms-3">Đã cho thuê</span>
                </div>
                <div class="col">
                  <h3 class="m-0 text-white">{{summary.totalRoomPending}}</h3>
                  <span class="ms-3">Chưa cho thuê</span>
                </div>
              </div>
            </app-card>
          </div>
        </div>
      </div>
</div>
