<div class="page-header ng-star-inserted">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <div class="row">
                        <div class="col-sm-6">

                            <h5 class="m-b-10 ng-star-inserted">Cập nhật thông tin khu trọ</h5>
                        </div>
                        <div class="col-sm-6 ">

                        </div>
                    </div>

                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a ng-reflect-router-link="/dashboard" href="/dashboard"
                            class="ng-star-inserted"><i class="feather icon-home"></i></a>
                    <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/boarding-house"
                        routerLink="/boarding-house">Khu trọ</a>
                    </li>
                    <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/boarding-house"
                            href="/boarding-house">{{boarding.name }}</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Cập nhật thông tin khu trọ" [options]="false">
            <div action="javascript:">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Tên khu trọ</label>
                        <input [(ngModel)]="boarding.name" type="text" class="form-control" id="inputEmail4"
                            placeholder="Tên khu trọ">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputPassword4">Địa chỉ chi tiết</label>
                        <input [(ngModel)]="boarding.address" type="text" class="form-control" id="inputPassword4"
                            placeholder="Địa chỉ chi tiết">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Mô tả</label>
                    <textarea [(ngModel)]="boarding.description" rows="4" class="form-control"
                        placeholder="Mô tả khu trọ"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCity">Số tháng đóng tiền</label>
                        <select class="form-control" [(ngModel)]="boarding.months">
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="6">6</option>
                        </select>

                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Ngày bắt đầu đóng</label>
                        <select id="inputState" class="form-control" [(ngModel)]="boarding.startDatePayment">
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="6">6</option>
                            <option [ngValue]="7">7</option>
                            <option [ngValue]="8">8</option>
                            <option [ngValue]="9">9</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="11">11</option>
                            <option [ngValue]="12">12</option>
                            <option [ngValue]="13">13</option>
                            <option [ngValue]="14">14</option>
                            <option [ngValue]="15">15</option>
                            <option [ngValue]="16">16</option>
                            <option [ngValue]="17">17</option>
                            <option [ngValue]="18">18</option>
                            <option [ngValue]="19">19</option>
                            <option [ngValue]="20">20</option>
                            <option [ngValue]="21">21</option>
                            <option [ngValue]="22">22</option>
                            <option [ngValue]="23">23</option>
                            <option [ngValue]="24">24</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="26">26</option>
                            <option [ngValue]="27">27</option>
                            <option [ngValue]="28">28</option>
                            <option [ngValue]="29">29</option>
                            <option [ngValue]="30">30</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Ngày cuối đóng</label>
                        <select id="inputState" class="form-control" [(ngModel)]="boarding.endDatePayment">
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="6">6</option>
                            <option [ngValue]="7">7</option>
                            <option [ngValue]="8">8</option>
                            <option [ngValue]="9">9</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="11">11</option>
                            <option [ngValue]="12">12</option>
                            <option [ngValue]="13">13</option>
                            <option [ngValue]="14">14</option>
                            <option [ngValue]="15">15</option>
                            <option [ngValue]="16">16</option>
                            <option [ngValue]="17">17</option>
                            <option [ngValue]="18">18</option>
                            <option [ngValue]="19">19</option>
                            <option [ngValue]="20">20</option>
                            <option [ngValue]="21">21</option>
                            <option [ngValue]="22">22</option>
                            <option [ngValue]="23">23</option>
                            <option [ngValue]="24">24</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="26">26</option>
                            <option [ngValue]="27">27</option>
                            <option [ngValue]="28">28</option>
                            <option [ngValue]="29">29</option>
                            <option [ngValue]="30">30</option>
                        </select>
                    </div>
                </div>
                <h6>Danh sách và chi phí dịch vụ</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-3" *ngFor="let provide of provides">
                        <div class="custom-control custom-checkbox">
                                <input  id="{{provide.id}}" type="checkbox" class="custom-control-input" [(ngModel)]="provide.checked"  [checked]="provide.checked">
                                <label class="custom-control-label" for="{{provide.id}}">{{ provide.name }}</label>
                                &nbsp;
                                <input type="number" value="{{provide.defaultPrice}}" class=" no-border" [(ngModel)] = "provide.defaultPrice" [disabled]="!provide.checked">
                            <hr>
                        </div>

                    </div>

                </div>
                <button type="button" class="btn btn-primary float-right" (click)="updateBoardingHouse()">Cập nhật</button>
                <button type="button" class="btn btn-default float-right" routerLink="/boarding-house" >Hủy bỏ</button>
            </div>
        </app-card>
    </div>
</div>