<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table align="center" width="512" border="0" cellspacing="0" cellpadding="0">




        <tbody>
            <tr>
                <td align="center" style="padding-top:10px;padding-bottom:15px">
                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td align="center" style="background-color:white">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="border-top:3px solid #ae2070;border-radius:4px 4px 0 0">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>



            <tr>
                <td align="center" style="background-color:#fdfdfe;padding-top:15px;padding-bottom:15px">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>

                                <td align="left" width="46">
                                    <a href="https://www.momo.vn/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.momo.vn/&amp;source=gmail&amp;ust=1697039839995000&amp;usg=AOvVaw0aTF8EyXEYRPqDuu2WVcWH"><img src="https://ci5.googleusercontent.com/proxy/uhGIXZK0c1ohiCJFwGRFdAC4DMvbsBAewzD4xhcc-_CixNSNecjYZ2VUDhXU-SCLwaZrOt4qWDFRKxX1rWkxyQQtNAbfs6eDqsRJJdFrmA=s0-d-e1-ft#https://img.mservice.io/momo-payment/icon/images/logo512.png" width="35" height="35" alt="Ví điện tử MoMo" style="display:block;border:0;font-size:20px;font-weight:bold;font-family:sans-serif;color:#22222" class="CToWUd" data-bit="iit"></a>
                                </td>

                                <td align="left">
                                    <div style="display:block;border:0;font-size:16px;font-weight:bold;font-family:sans-serif;color:#222222">
                                        <span>
                                        Hệ thống quản lý phòng trọ Moma System</span>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td align="center" style="background-color:#f5f5f6">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="border-top:1px solid #f5f5f6"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>





            <tr>
                <td align="center" style="background-color:white;padding-top:25px;padding-bottom:0">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>

                                <td>
                                    <h1 style="font-size:22px;line-height:28px;letter-spacing:-.20px;margin:10px 0 16px 0;font-family:Helvetica Neue,Arial,sans-serif;color:#ae006d;text-align:left">
                                        Thông báo hóa đơn tiền trọ tháng 10/2023
                                    </h1>
                                </td>

                            </tr>

                            <tr>

                                <td>

                                    <p style="margin:0 0 15px 0;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:24px">
                                        Xin chào <strong>Phạm Trọng Nhân</strong>,<br>
                                        Hệ thống <strong>Moma</strong> xin thông báo hóa đơn tiền trọ của quý khách tại <strong>phòng T301</strong> chi tiết như sau
                                    </p>

                                </td>

                            </tr>


                        </tbody>
                    </table>

                </td>
            </tr>



            <tr>
                <td align="center" style="background-color:white;padding-top:15px;padding-bottom:10px">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>

                                <td style="font-size:16px;font-family:Helvetica Neue,Arial,sans-serif;color:#969696;text-align:center">Số tiền</td>

                            </tr>

                            <tr>

                                <td style="padding-top:5px;font-size:28px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:center;line-height:1.2em;font-weight:500">

                                    19.000&nbsp;₫
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>


            <tr>
                <td align="center" style="background-color:white;padding-top:10px;padding-bottom:10px">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>

                                <td style="font-size:13px;font-family:Helvetica Neue,Arial,sans-serif;color:#969696;text-align:left;font-weight:bold;padding-bottom:5px">
                                    THÔNG TIN HÓA ĐƠN
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="background-color:white">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="border-top:1px solid #ececec"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>

            <tr>
                <td align="center" style="background-color:white;padding-top:0;padding-bottom:20px">

                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>

                                <td style="padding-top:5px;padding-bottom:10px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em;vertical-align:top" width="70%">

                                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;font-weight:normal">
                                        Dịch vụ
                                    </div>

                                    <div style="color:#3c4043;display:block;font-family:sans-serif;font-size:14px;font-weight:bold;line-height:24px;margin:0px;padding:0px;text-align:left;text-decoration:none;padding-right:5px">
                                        Nạp tiền vào ví
                                    </div>

                                </td>

                                <td style="padding-top:5px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em;vertical-align:top" width="30%">

                                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;font-weight:normal">
                                        Nguồn tiền
                                    </div>

                                    <div style="color:#3c4043;display:block;font-family:sans-serif;font-size:14px;font-weight:normal;line-height:18px;margin:0px;padding:0px;text-align:left;text-decoration:none;padding-right:5px">
                                        THẺ ATM NỘI ĐỊA xxxx 3926
                                    </div>

                                </td>

                            </tr>

                            <tr>

                                <td style="padding-top:5px;padding-bottom:10px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em;vertical-align:top" width="70%">

                                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;font-weight:normal">
                                        Thời gian
                                    </div>

                                    <div style="color:#3c4043;display:block;font-family:sans-serif;font-size:14px;font-weight:normal;line-height:18px;margin:0px;padding:0px;text-align:left;text-decoration:none;padding-right:5px">
                                        07/29/2023 09:37:13
                                    </div>

                                </td>

                                <td style="padding-top:5px;padding-bottom:10px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em;vertical-align:top" width="30%">

                                    <div style="color:#737373;margin:0px;font-size:12px;line-height:24px;font-weight:normal">
                                        Mã giao dịch :
                                    </div>

                                    <div style="color:#3c4043;display:block;font-family:sans-serif;font-size:14px;font-weight:normal;line-height:18px;margin:0px;padding:0px;text-align:left;text-decoration:none;padding-right:5px">
                                        43089020209
                                    </div>

                                </td>

                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>





            <tr>
                <td align="center" style="background-color:white;padding-top:10px;padding-bottom:10px">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>

                                <td style="font-size:13px;font-family:Helvetica Neue,Arial,sans-serif;color:#969696;text-align:left;font-weight:bold;padding-bottom:5px">
                                    CHI TIẾT GIAO DỊCH
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="background-color:white">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="border-top:1px solid #ececec"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>


            <tr>
                <td align="center" style="background-color:white;padding-top:0;padding-bottom:20px">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding-top:5px;padding-bottom:5px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em" width="70%">

                                    <div style="color:#3c4043;margin:0px;font-size:12px;line-height:22px;font-weight:normal;font-size:15px;padding-right:10px">
                                        Số tiền
                                    </div>
                                </td>
                                <td style="padding-top:5px;padding-bottom:5px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em" width="30%">

                                    <div style="color:#3c4043;margin:0px;font-size:12px;line-height:22px;font-weight:normal;font-size:15px">
                                        19.000&nbsp;₫
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td style="padding-top:5px;padding-bottom:5px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em" width="70%">

                                    <div style="color:#3c4043;margin:0px;font-size:12px;line-height:20px;font-weight:normal;font-size:15px;padding-right:10px">
                                        Phí giao dịch
                                    </div>
                                </td>
                                <td style="padding-top:5px;padding-bottom:5px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em" width="30%">

                                    <div style="color:#3c4043;margin:0px;font-size:12px;line-height:22px;font-weight:normal;font-size:15px">
                                        0&nbsp;₫
                                    </div>
                                </td>

                            </tr>



                            <tr>
                                <td style="padding-top:5px;padding-bottom:5px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em" width="70%">

                                    <div style="color:#3c4043;margin:0px;font-size:12px;line-height:22px;font-weight:bold;font-size:15px;padding-right:10px">
                                        Tổng cộng
                                    </div>
                                </td>
                                <td style="padding-top:5px;padding-bottom:5px;font-size:14px;font-family:Helvetica Neue,Arial,sans-serif;color:#3c4043;text-align:left;line-height:1.55em" width="30%">

                                    <div style="color:#3c4043;margin:0px;font-size:12px;line-height:22px;font-weight:bold;font-size:15px">
                                        19.000&nbsp;₫
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>


            <tr>
                <td align="center" style="background-color:white;padding-top:0;padding-bottom:20px">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">

                        <tbody>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>