<div class="page-header ng-star-inserted">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <div class="row">
            <div class="col-sm-6">

              <h5 class="m-b-10 ng-star-inserted">Báo cáo doanh thu</h5>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-4">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a ng-reflect-router-link="/dashboard" href="/dashboard"
                  class="ng-star-inserted"><i class="feather icon-home"></i></a>

              <li class="breadcrumb-item ng-star-inserted"><a href="javascript:">Báo cáo</a></li>

              <li class="breadcrumb-item ng-star-inserted"><a ng-reflect-router-link="/service"
                  href="/report-revenue">Báo cáo doanh thu</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-8 text-right">
            <div class="form-row">
              <div class="form-group col-md-3">
                <select [(ngModel)]="filter.boardingHouseId"
                                    class="form-control">
                                    <option [ngValue]="null">Tất cả</option>
                                    <option *ngFor="let boarding of boardings" [ngValue]="boarding.id">
                                        {{ boarding.name }}</option>
                                </select>
              </div>
              <div class="form-group col-md-3">
                <input [(ngModel)]="filter.fromDate" class="form-control" type="date">
              </div>
              <div class="form-group col-md-3">
                <input [(ngModel)]="filter.toDate" class="form-control" type="date">
              </div>
              <div class="form-group col-md-3">
                <button type="button" class="btn btn-success float-right l-1" style="margin-left: 4px;"
              data-toggle="modal"><i class="icon feather icon-printer"></i> Excel</button>
                <button type="button" class="btn btn-primary float-right" (click)="GetReport()"><i class="icon feather icon-filter"></i> Xem
                  báo cáo</button>
                
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-xl-12">
  <app-card cardTitle="Báo cáo doanh thu theo tháng" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Phòng</th>
            <th *ngFor="let m of months">{{m}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of items; index as index">
            <td>{{ index + 1}}</td>
            <td>{{ room.roomName}}</td>
            <td *ngFor="let revenue of room.items">{{ revenue.amount | formatCurrency}}</td>
          </tr>
          <tr class="summary">
            <td colspan="2"><strong>Tổng</strong></td>
            <td *ngFor="let total of totals"><strong>{{ total | formatCurrency}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>