/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "scss/style";

h5{
    font-size: 1rem;
}

.hide{
    display: none;
}

.w-100{
    width: 100%;
}

.breadcrumb{
    background-color: #fff !important;
    margin-bottom: 0rem !important;
}