/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "scss/style";

h5{
    font-size: 1rem;
}

.hide{
    display: none;
}

.w-100{
    width: 100%;
}

.breadcrumb{
    background-color: #fff !important;
    margin-bottom: 0rem !important;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0270de;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004993;
  }